.font(){
  @font-face {
  font-family: vazir;
  src: url('./webfonts/Vazir-Regular.eot');
  src: url('./webfonts/Vazir-Regular.ttf?#iefix') format('truetype'),
      url('./webfonts/Vazir-Regular.woff') format('woff');
  font-weight: normal;
  }

  @font-face {
  font-family: lalezar;
  src: url('./webfonts/Lalezar-Regular.ttf');
  font-weight: bold;
}


}

.CoreCss(){

    body {
      font-family: vazir;
      font-size: 1.1rem;
      // background-color: #f9fbfd !important;
      background-color: #f3f6fd !important;
    }

    a {
      text-decoration: none;
      color: #222;
    &:hover {
      color: #333;
    }
    }

    th {
      font-size: 0.9rem;
      color: #666;
    }

    
    thead {
      border-radius: 6px;
      box-shadow: 0px 0px 7px #ddd;
    }

}

.bootstrapReset(){
  .bg-light {
    background-color: #fbfbfb
  }

  .card {
    border: 1px solid rgb(0 0 0 / 7%) ;
    border-radius: 0.51rem ;
    box-shadow: 0px 0px 17px 2px #eee !important;
  }

  
  .badge.bg-success{
    background-color: #ccf7e5!important;
    font-size: 0.7rem;
    color: #00d97e
  }
  
  .badge.bg-danger{
    background-color: #fad7dd!important;
    font-size: 0.7rem;
    color: #e63757
  }
  
  .btn-secondary {
    background-color: #333;
  }
  
  // .btn-danger{
  //   background-color: #e64e6a
    
  // }
  
  .modal-header{
    border: none;
  }

  .modal-footer{
    border: none;
  }
  
  .nav-tabs {
    border-bottom: none;
  }
  
  .btn-success {
    background-color: #0ecb81;
  }
  
  .btn-danger {
    background-color: #f6465d;
  }
  
  .form-control {
    padding: .475rem .75rem;
  }

  .nav-tabs-succ{
    background-color: #00d97e !important;
    color: #fefefe !important;
  }

  .nav-tabs-dang{
    background-color: #f6465d !important;
    color: #fefefe !important;
  }

  .form-control:focus {
    border-color: #72afd3;
    box-shadow: 0 0 0 0.1rem rgb(0 201 255 / 25%);
  }
  .navigation ul li.active a{
    border:2px solid #72afd3;
  }
  .border-end {
    border-left: 3px solid #c3ced9!important;
  }

}

.StyleCss() {
  .lalezar {
    font-family: lalezar
  }
  
  .pointer {
    cursor: pointer;
  }

  .bg1{
    background-color: #dbecfd63;
    border-radius: 0.4rem;
    border: 1px solid #90c7ff;
  }
  // .bg1:hover{
  //   background-color: #90c7ff;
  //   cursor: pointer;
  // }
  .bg2{
    background-color: #d2ffdb40;
    border: 1px solid #3b874a;
    border-radius: 0.4rem;
  }
  // .bg2:hover{
  //   background-color: #3b874a;
  //   cursor: pointer;

  // }
  .bg3 {
    background-color: #e5e5fe52;
    border-radius: 0.4rem;
    border: 1px solid #8080ed;
  }
  // .bg3:hover {
  //   background-color: #8080ed;
  //   cursor: pointer;

  // }
  .bg4 {
    background-color: #e7f8ff52;
    border-radius: 0.4rem;
    border: 1px solid #5196db;
  }
  // .bg4:hover {
  //   background-color: #5196db;
  //   cursor: pointer;

  // }
  .bg5 {
    border-radius: 0.4rem;
    background-color: #d2dcff59;
    border: 1px solid #3961ed;
  }
  // .bg5:hover {
  //   background-color: #3961ed;
  //   cursor: pointer;

  // }
  .DollarSign2:before {
    content: '$';
    margin-right: 0.2rem;
    font-size: 1.2rem;
    color: #777;
  }
  .DollarSign2:before {
    content: '$';
    margin-right: 0.2rem;
    font-size: 1.2rem;
    color: #777;
  }
  .AfgSign2:after {
    content: ' ؋';
    font-size: 1.3rem;
    color: #777;
  }
  .TomanSign2:after {
    content: ' IRR';
    font-size: 1rem;
    color: #777;
  }
  .KaldarSign2:after {
    content: ' Rs';
    font-size: 1rem;
    color: #777;
  }
  .EuroSign2:after {
    content: ' €';
    font-size: 1rem;
    color: #777;
  }
  .required:after {
    content: ' *';
    font-size: 1rem;
    color: #f6465d;
    margin-top: 1rem;
  }
  .mshadow {
    border: 1px solid rgb(0 0 0 / 7%) ;
    border-radius: 0.51rem ;
    box-shadow: 0px 0px 17px 2px #eee !important;
  }
  .w-13 {
    width: 13rem;
  }
  // .btnform {
  //   padding: 0.53rem 0.53rem !important;
  //   border-radius: 0.43rem ;
  // }

  .sidebar ul li {
    cursor: pointer;
    color: #333;
    display: flex;
    align-items: center;
    padding: 0.75em 1em;
    background-color: transparent;
    border-radius: 8px;
    font-weight: 500;
    transition: 0.15s ease;
    // background-color: #fafafa;
    margin: 0 1rem;
    // background-color: #fefefe;
    &:hover {
      display: flex;
      align-items: center;
      padding: 0.75em 1em;
      background-color: #444;
      border-radius: 8px;
      font-weight: 500;
      margin: 0 1rem;
      transition: 0.15s ease;
      color: #fefefe
  }

}

.sidebar-border {
  border-right: 5px solid #fff!important;
  margin-bottom: 0.7rem;
  &:hover{
    border-right: 5px solid #585858!important;
  }
  // &:hover ul{
  //   font-size: 0.97rem;
  //   display: block !important;
  // }
}


.active{
  // border-right: 5px solid #585858!important;

  li{
  background-color: #fafafa;
  }
  
  // color: #fafafa
}

.priv{
  display: none
}

.mt-6{
  margin-top: 2rem
}
// .page-item .page-link{
//   background-color: #333;
//   border: none;
//   color: #fefefe !important
// }
.page-item.active .page-link{
  // background-color: #333;
  border: none;
}

table> tbody> tr> td> div>.btn {
  padding: 0.3rem 0.5rem 0.1rem 0.5rem;
}

div.nav button{
  border: none ;
}

div.nav button{
  border: none ;
  padding: 0.5rem 3.6rem ; 
  color: #333;
}
@media only screen and (max-width: 600px) {
  div.nav button {
    padding: 0.5rem 2.2rem ; 
  }
}


div.nav button:hover{
  border: none 
}

div.nav button.active{
  border: none 
}

.onpage {
  background-color: #333 !important;
  color: #fefefe !important;
}
.h97 {
  font-size: 0.97rem;
}

.nav-tabs .nav-link {
  border: none
}

// .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
//   /* border-color: #e9ecef #e9ecef #dee2e6; */
//   /* isolation: isolate; */
// }

// div.nav button:hover {
//   /* border: none; */
// }

.highcharts-credits {
display: none
}

.jconfirm .jconfirm-box div.jconfirm-content-pane .jconfirm-content {
  overflow:unset !important;
}

// .jconfirm-buttons:nth-child(1) {
//   background: #f33a52 !important;
//   color: #fefefe !important;
// }
 .h7 {
   font-size: 0.8rem;
 }
 #datatable2 td {
  text-align: right !important;
  padding-right: 1.5rem !important;
  font-size: 1rem;
  color: #444;
}
 #datatable td {
  text-align: right !important;
  padding-right: 1.5rem !important;
  font-size: 1rem;
  color: #444;
}

.bg-light2{
  background-color: #eee;
}
.select2-container--default .select2-selection--single {
  border: 1px solid #ced4da;
  // width: 26.6rem;
  border-radius: 0.2rem;
  height: 2.5rem;
}
// #nav-sell  .select2-container--default .select2-selection--single {
//   width: 26.6rem;
// }
.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding-top: 0.3rem;
  padding-right: 8px;
  padding-left: 20px;
}
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto;
  padding-top: 2.4rem;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left;
  display: none;
}

.dark:hover {
  color: #333 !important;
}
span.h4.mb-0.togg {
  font-family: none;
}

span.select2.select2-container.select2-container--default {
  width: 100% !important;
}

#navbarSupportedContent2 ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 15rem;
}
#navbarSupportedContent2 ul .sidebar {
  border-right:none !important;
  margin-bottom: 0.3rem;
}
.sidebar-border .bg-light {
  background-color: #eee !important;
}

#navbarSupportedContent2 ul li{
  
color: #fefefe;
background-color: #333;
padding: 0.4rem 1rem;
border-radius: 0.4rem;

}
.page-link {
  color: #333;
  border-radius: 0.4rem;
  padding: 0.3rem 0.8rem;
  margin: 0 0.1rem;
}
a[rel="next"] {
  background-color: #f6f6f6;
}
a[rel="prev"] {
  background-color: #f6f6f6;
}

.h17 {
  height: 17.9rem;
}
@media only screen and (max-width: 600px) {
  .h17 {
    height: 25rem;
  }
}


}

.multselect(){
  .selectMultiple2 {
    width: 240px;
    position: relative;
  }
  .selectMultiple2 select {
    display: none;
  }
  .selectMultiple2 > div {
    position: relative;
    z-index: 2;
    padding: 8px 12px 2px 12px;
    border-radius: 8px;
    background: #fff;
    font-size: 14px;
    min-height: 44px;
    box-shadow: 0 4px 16px 0 rgba(22, 42, 90, 0.12);
    transition: box-shadow 0.1s ease;
  }
  .selectMultiple2 > div:hover {
    box-shadow: 0 4px 24px -1px rgba(22, 42, 90, 0.16);
  }
  .selectMultiple2 > div .arrow {
    left: 1px;
    top: 0;
    bottom: 0;
    cursor: pointer;
    width: 28px;
    position: absolute;
  }
  .selectMultiple2 > div .arrow:before, .selectMultiple2 > div .arrow:after {
    content: "";
    position: absolute;
    display: block;
    width: 2px;
    height: 8px;
    border-bottom: 8px solid #99A3BA;
    top: 43%;
    transition: all 0.1s ease;
  }
  .selectMultiple2 > div .arrow:before {
    right: 12px;
    transform: rotate(-130deg);
  }
  .selectMultiple2 > div .arrow:after {
    left: 9px;
    transform: rotate(130deg);
  }
  .selectMultiple2 > div span {
    color: #99A3BA;
    display: block;
    position: absolute;
    right: 12px;
    cursor: pointer;
    top: 8px;
    line-height: 28px;
    transition: all 0.1s ease;
  }
  .selectMultiple2 > div span.hide {
    opacity: 0;
    visibility: hidden;
    transform: translate(-4px, 0);
  }
  .selectMultiple2 > div a {
    position: relative;
    padding: 0 24px 6px 8px;
    line-height: 28px;
    color: #1E2330;
    display: inline-block;
    vertical-align: top;
    margin: 0 6px 0 0;
  }
  .selectMultiple2 > div a em {
    font-style: normal;
    display: block;
    white-space: nowrap;
  }
  .selectMultiple2 > div a:before {
    content: "";
    left: 0;
    top: 0;
    bottom: 6px;
    width: 100%;
    position: absolute;
    display: block;
    background: rgba(228, 236, 250, 0.7);
    z-index: -1;
    border-radius: 4px;
  }
  .selectMultiple2 > div a i {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 28px;
    display: block;
  }
  .selectMultiple2 > div a i:before, .selectMultiple2 > div a i:after {
    content: "";
    display: block;
    width: 2px;
    height: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: #4D18FF;
    border-radius: 1px;
  }
  .selectMultiple2 > div a i:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .selectMultiple2 > div a i:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .selectMultiple2 > div a.notShown {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .selectMultiple2 > div a.notShown:before {
    width: 28px;
    transition: width 0.15s cubic-bezier(0.87, -0.41, 0.19, 1.44) 0.2s;
  }
  .selectMultiple2 > div a.notShown i {
    opacity: 0;
    transition: all 0.1s ease 0.1s;
  }
  .selectMultiple2 > div a.notShown em {
    opacity: 0;
    transform: translate(-6px, 0);
    transition: all 0.1s ease 0.1s;
  }
  .selectMultiple2 > div a.notShown.shown {
    opacity: 1;
  }
  .selectMultiple2 > div a.notShown.shown:before {
    width: 100%;
  }
  .selectMultiple2 > div a.notShown.shown i {
    opacity: 1;
  }
  .selectMultiple2 > div a.notShown.shown em {
    opacity: 1;
    transform: translate(0, 0);
  }
  .selectMultiple2 > div a.remove:before {
    width: 28px;
    transition: width 0.1s cubic-bezier(0.87, -0.41, 0.19, 1.44) 0s;
  }
  .selectMultiple2 > div a.remove i {
    opacity: 0;
    transition: all 0.1s ease 0s;
  }
  .selectMultiple2 > div a.remove em {
    opacity: 0;
    transform: translate(-12px, 0);
    transition: all 0.1s ease 0s;
  }
  .selectMultiple2 > div a.remove.disappear {
    opacity: 0;
    transition: opacity 0.1s ease 0s;
  }
  .selectMultiple2 > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    z-index: 1;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    border-radius: 8px;
    transform: translate(0, 20px) scale(0.8);
    transform-origin: 0 0;
    filter: drop-shadow(0 12px 20px rgba(22, 42, 90, 0.08));
    transition: all 0.1s ease, transform 0.1s cubic-bezier(0.87, -0.41, 0.19, 1.44), filter 0.1s ease 0.1s;
  }
  .selectMultiple2 > ul li {
    color: #1E2330;
    background: #fff;
    padding: 12px 16px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: background 0.1s ease, color 0.1s ease, transform 0.1s ease 0.1s, opacity 0.1s ease 0.1s, border-radius 0.1s ease 0.1s;
  }
  .selectMultiple2 > ul li:first-child {
    border-radius: 8px 8px 0 0;
  }
  .selectMultiple2 > ul li:first-child:last-child {
    border-radius: 8px;
  }
  .selectMultiple2 > ul li:last-child {
    border-radius: 0 0 8px 8px;
  }
  .selectMultiple2 > ul li:last-child:first-child {
    border-radius: 8px;
  }
  .selectMultiple2 > ul li:hover {
    background: #4D18FF;
    color: #fff;
  }
  .selectMultiple2 > ul li:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%, -50%);
    transform-origin: 50% 50%;
  }
  .selectMultiple2 > ul li.beforeRemove {
    border-radius: 0 0 8px 8px;
  }
  .selectMultiple2 > ul li.beforeRemove:first-child {
    border-radius: 8px;
  }
  .selectMultiple2 > ul li.afterRemove {
    border-radius: 8px 8px 0 0;
  }
  .selectMultiple2 > ul li.afterRemove:last-child {
    border-radius: 8px;
  }
  .selectMultiple2 > ul li.remove {
    transform: scale(0);
    opacity: 0;
  }
  .selectMultiple2 > ul li.remove:after {
    -webkit-animation: ripple 0.1s ease-out;
            animation: ripple 0.1s ease-out;
  }
  .selectMultiple2 > ul li.notShown {
    display: none;
    transform: scale(0);
    opacity: 0;
    transition: transform 0.15s ease, opacity 0.1s ease;
  }
  .selectMultiple2 > ul li.notShown.show {
    transform: scale(1);
    opacity: 1;
  }
  .selectMultiple2.open > div {
    box-shadow: 0 4px 20px -1px rgba(22, 42, 90, 0.12);
  }
  .selectMultiple2.open > div .arrow:before {
    transform: rotate(-50deg);
  }
  .selectMultiple2.open > div .arrow:after {
    transform: rotate(50deg);
  }
  .selectMultiple2.open > ul {
    transform: translate(0, 12px) scale(1);
    opacity: 1;
    visibility: visible;
    filter: drop-shadow(0 16px 24px rgba(22, 42, 90, 0.16));
  }
  
  @-webkit-keyframes ripple {
    0% {
      transform: scale(0, 0);
      opacity: 1;
    }
    25% {
      transform: scale(30, 30);
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(50, 50);
    }
  }
  
  @keyframes ripple {
    0% {
      transform: scale(0, 0);
      opacity: 1;
    }
    25% {
      transform: scale(30, 30);
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(50, 50);
    }
  }
};

.multselect2(){
  .selectMultiple {
    width: 240px;
    position: relative;
  }
  .selectMultiple select {
    display: none;
  }
  .selectMultiple > div {
    position: relative;
    z-index: 2;
    padding: 8px 12px 2px 12px;
    border-radius: 8px;
    background: #fff;
    font-size: 14px;
    min-height: 44px;
    box-shadow: 0 4px 16px 0 rgba(22, 42, 90, 0.12);
    transition: box-shadow 0.1s ease;
  }
  .selectMultiple > div:hover {
    box-shadow: 0 4px 24px -1px rgba(22, 42, 90, 0.16);
  }
  .selectMultiple > div .arrow {
    left: 1px;
    top: 0;
    bottom: 0;
    cursor: pointer;
    width: 28px;
    position: absolute;
  }
  .selectMultiple > div .arrow:before, .selectMultiple > div .arrow:after {
    content: "";
    position: absolute;
    display: block;
    width: 2px;
    height: 8px;
    border-bottom: 8px solid #99A3BA;
    top: 43%;
    transition: all 0.1s ease;
  }
  .selectMultiple > div .arrow:before {
    right: 12px;
    transform: rotate(-130deg);
  }
  .selectMultiple > div .arrow:after {
    left: 9px;
    transform: rotate(130deg);
  }
  .selectMultiple > div span {
    color: #99A3BA;
    display: block;
    position: absolute;
    right: 12px;
    cursor: pointer;
    top: 8px;
    line-height: 28px;
    transition: all 0.1s ease;
  }
  .selectMultiple > div span.hide {
    opacity: 0;
    visibility: hidden;
    transform: translate(-4px, 0);
  }
  .selectMultiple > div a {
    position: relative;
    padding: 0 24px 6px 8px;
    line-height: 28px;
    color: #1E2330;
    display: inline-block;
    vertical-align: top;
    margin: 0 6px 0 0;
  }
  .selectMultiple > div a em {
    font-style: normal;
    display: block;
    white-space: nowrap;
  }
  .selectMultiple > div a:before {
    content: "";
    left: 0;
    top: 0;
    bottom: 6px;
    width: 100%;
    position: absolute;
    display: block;
    background: rgba(228, 236, 250, 0.7);
    z-index: -1;
    border-radius: 4px;
  }
  .selectMultiple > div a i {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 28px;
    display: block;
  }
  .selectMultiple > div a i:before, .selectMultiple > div a i:after {
    content: "";
    display: block;
    width: 2px;
    height: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: #4D18FF;
    border-radius: 1px;
  }
  .selectMultiple > div a i:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .selectMultiple > div a i:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .selectMultiple > div a.notShown {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .selectMultiple > div a.notShown:before {
    width: 28px;
    transition: width 0.15s cubic-bezier(0.87, -0.41, 0.19, 1.44) 0.2s;
  }
  .selectMultiple > div a.notShown i {
    opacity: 0;
    transition: all 0.1s ease 0.1s;
  }
  .selectMultiple > div a.notShown em {
    opacity: 0;
    transform: translate(-6px, 0);
    transition: all 0.1s ease 0.1s;
  }
  .selectMultiple > div a.notShown.shown {
    opacity: 1;
  }
  .selectMultiple > div a.notShown.shown:before {
    width: 100%;
  }
  .selectMultiple > div a.notShown.shown i {
    opacity: 1;
  }
  .selectMultiple > div a.notShown.shown em {
    opacity: 1;
    transform: translate(0, 0);
  }
  .selectMultiple > div a.remove:before {
    width: 28px;
    transition: width 0.1s cubic-bezier(0.87, -0.41, 0.19, 1.44) 0s;
  }
  .selectMultiple > div a.remove i {
    opacity: 0;
    transition: all 0.1s ease 0s;
  }
  .selectMultiple > div a.remove em {
    opacity: 0;
    transform: translate(-12px, 0);
    transition: all 0.1s ease 0s;
  }
  .selectMultiple > div a.remove.disappear {
    opacity: 0;
    transition: opacity 0.1s ease 0s;
  }
  .selectMultiple > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    z-index: 1;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    border-radius: 8px;
    transform: translate(0, 20px) scale(0.8);
    transform-origin: 0 0;
    filter: drop-shadow(0 12px 20px rgba(22, 42, 90, 0.08));
    transition: all 0.1s ease, transform 0.1s cubic-bezier(0.87, -0.41, 0.19, 1.44), filter 0.1s ease 0.1s;
  }
  .selectMultiple > ul li {
    color: #1E2330;
    background: #fff;
    padding: 12px 16px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: background 0.1s ease, color 0.1s ease, transform 0.1s ease 0.1s, opacity 0.1s ease 0.1s, border-radius 0.1s ease 0.1s;
  }
  .selectMultiple > ul li:first-child {
    border-radius: 8px 8px 0 0;
  }
  .selectMultiple > ul li:first-child:last-child {
    border-radius: 8px;
  }
  .selectMultiple > ul li:last-child {
    border-radius: 0 0 8px 8px;
  }
  .selectMultiple > ul li:last-child:first-child {
    border-radius: 8px;
  }
  .selectMultiple > ul li:hover {
    background: #4D18FF;
    color: #fff;
  }
  .selectMultiple > ul li:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%, -50%);
    transform-origin: 50% 50%;
  }
  .selectMultiple > ul li.beforeRemove {
    border-radius: 0 0 8px 8px;
  }
  .selectMultiple > ul li.beforeRemove:first-child {
    border-radius: 8px;
  }
  .selectMultiple > ul li.afterRemove {
    border-radius: 8px 8px 0 0;
  }
  .selectMultiple > ul li.afterRemove:last-child {
    border-radius: 8px;
  }
  .selectMultiple > ul li.remove {
    transform: scale(0);
    opacity: 0;
  }
  .selectMultiple > ul li.remove:after {
    -webkit-animation: ripple 0.1s ease-out;
            animation: ripple 0.1s ease-out;
  }
  .selectMultiple > ul li.notShown {
    display: none;
    transform: scale(0);
    opacity: 0;
    transition: transform 0.15s ease, opacity 0.1s ease;
  }
  .selectMultiple > ul li.notShown.show {
    transform: scale(1);
    opacity: 1;
  }
  .selectMultiple.open > div {
    box-shadow: 0 4px 20px -1px rgba(22, 42, 90, 0.12);
  }
  .selectMultiple.open > div .arrow:before {
    transform: rotate(-50deg);
  }
  .selectMultiple.open > div .arrow:after {
    transform: rotate(50deg);
  }
  .selectMultiple.open > ul {
    transform: translate(0, 12px) scale(1);
    opacity: 1;
    visibility: visible;
    filter: drop-shadow(0 16px 24px rgba(22, 42, 90, 0.16));
  }
  
  @-webkit-keyframes ripple {
    0% {
      transform: scale(0, 0);
      opacity: 1;
    }
    25% {
      transform: scale(30, 30);
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(50, 50);
    }
  }
  
  @keyframes ripple {
    0% {
      transform: scale(0, 0);
      opacity: 1;
    }
    25% {
      transform: scale(30, 30);
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(50, 50);
    }
  }
};
// /////////////////////////////////
.font();

.CoreCss();

.bootstrapReset();

.StyleCss();

// .multselect();
// .multselect2();
