@font-face {
  font-family: Vazir;
  src: url('dist/font/vazird/eot/Vazir-Regular.eot');
  src: url('dist/font/vazird/eot/Vazir-Regular.eot?#iefix') format('embedded-opentype'), url('dist/font/vazird/woff2/Vazir-Regular.woff2') format('woff2'), url('dist/font/vazird/woff/Vazir-Regular.woff') format('woff'), url('dist/font/vazird/ttf/Vazir-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('dist/font/vazird/eot/Vazir-Bold.eot');
  src: url('dist/font/vazird/eot/Vazir-Bold.eot?#iefix') format('embedded-opentype'), url('dist/font/vazird/woff2/Vazir-Bold.woff2') format('woff2'), url('dist/font/vazird/woff/Vazir-Bold.woff') format('woff'), url('dist/font/vazird/ttf/Vazir-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('dist/font/vazird/eot/Vazir-Black.eot');
  src: url('dist/font/vazird/eot/Vazir-Black.eot?#iefix') format('embedded-opentype'), url('dist/font/vazird/woff2/Vazir-Black.woff2') format('woff2'), url('dist/font/vazird/woff/Vazir-Black.woff') format('woff'), url('dist/font/vazird/ttf/Vazir-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('dist/font/vazird/eot/Vazir-Medium.eot');
  src: url('dist/font/vazird/eot/Vazir-Medium.eot?#iefix') format('embedded-opentype'), url('dist/font/vazird/woff2/Vazir-Medium.woff2') format('woff2'), url('dist/font/vazird/woff/Vazir-Medium.woff') format('woff'), url('dist/font/vazird/ttf/Vazir-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('dist/font/vazird/eot/Vazir-Light.eot');
  src: url('dist/font/vazird/eot/Vazir-Light.eot?#iefix') format('embedded-opentype'), url('dist/font/vazird/woff2/Vazir-Light.woff2') format('woff2'), url('dist/font/vazird/woff/Vazir-Light.woff') format('woff'), url('dist/font/vazird/ttf/Vazir-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('dist/font/vazird/eot/Vazir-Thin.eot');
  src: url('dist/font/vazird/eot/Vazir-Thin.eot?#iefix') format('embedded-opentype'), url('dist/font/vazird/woff2/Vazir-Thin.woff2') format('woff2'), url('dist/font/vazird/woff/Vazir-Thin.woff') format('woff'), url('dist/font/vazird/ttf/Vazir-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: lalezar;
  src: url('dist/font/lalezar/Lalezar-Regular.ttf') format('truetype');
}
body {
  font-family: 'vazir';
  direction: rtl;
  text-align: right;
  background-color: #fefefe;
}
.font1 {
  font-size: 1.75rem;
}
.pointer {
  cursor: pointer;
}
.bg-login {
  background-image: url("images/1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.lalezar {
  font-family: lalezar !important;
}
::selection {
  background-color: #eee;
  color: #000;
}
a {
  color: #333;
  text-decoration: none !important;
  font-size: 1rem;
  font-weight: 600;
}
